.root {
  margin: auto;
  max-width: 100%;
  padding-bottom: 48px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1080px;
  border-radius: 8px;
  overflow: hidden;
}

.imgWrap {
  max-height: 666px;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}

.img {
  border: none;
  max-width: 100%;
}

.landing {
  background: #fff;
  padding: 48px 0;
}

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.btnRequest {
  padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;
  color: #2194e0;
  border: 2px solid #2194e0;
  font-size: 18px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.btnRequest:before {
  content: '';
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.btnRequest:hover {
  background-color: #2194e0;
  color: #fff;
  border-bottom: 4px solid #1977b5;
}
.btnRequest:active {
  margin-top: 2px;
  border-bottom-width: 1px;
}

.btnRequest:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}

.center {
  text-align: center;
}

.header {
  font-size: 24px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .landing {
    padding: 20px;
  }

  .wrapper {
    border-radius: 0;
  }
}

@media screen and (max-width: 800px) {
  .header {
    font-size: 1em;
  }
}
